:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #efefef;
  --bg2: #fefefe;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: hsl(252, 50%, 62%);
  --accent-bg: hsla(250, 50%, 52%, 0.1);
  --accent-border: hsla(250, 50%, 62%, 0.502);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {

    --text: #efefef;
    --text-h: #ffff;
    --bg: #1b1b1b;
    --bg2: #0b0b0b;
    --border: #2e303a;
    --code-bg: #1f2028;
  --accent: hsl(225, 50%, 50%);
    --accent-bg: hsla(225, 95%, 75%, 0.15);
    --accent-border: hsla(225, 75%, 50%, 0.25);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

@media print {
  :root {
    --bg: #fff;
    --bg2: #fff;
    --text: #1b1b1b;
    --text-h: #1b1b1b;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  // border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}

h1 {
  font-size: 3rem;
  letter-spacing: -1.68px;
  line-height: 1;
  padding: 0;
  margin-block: .75rem .25rem;
  margin-inline: 0;
  // @media (max-width: 1024px) {
  //   font-size: 36px;
  //   margin: 20px 0;
  // }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 .5rem;
  padding-block: 0.25rem 0.5rem;
  border-block-end: 1px solid var(--accent);
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

section {
  text-align: left;
  margin-block-start: 1rem;
  border: 1px solid var(--accent);
  margin-inline: 1rem;
  border-radius: 0.5rem 1.5rem .5rem .75rem;
  corner-shape: bevel;
  padding: .5rem 1rem .75rem;
  @media print {
    border: none;
  }
}