:root {
	--entry-gap: 2rem;
}

header {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-areas:
		"aside bravo"
		"aside echo";
	@media (width <= 600px) {
		grid-template-areas:
			"bravo"
			"echo";
		grid-template-columns: 1fr;
	}
	@media print {
	grid-template-columns: 100px 1fr;
	grid-template-areas:
		"alpa bravo"
		"charlie echo";
	}
	h1 {
		grid-area: bravo;
	}
	hgroup {
		grid-area: echo;
	}
}

hgroup {
	span {
		display: inline-block;
		white-space: pre-wrap;

		&:nth-child(n+3) {
			display: block;
		}
	}
}

h3 {
	font-size: 1.25rem;
	line-height: 1;
	margin-bottom: .25rem;
}

main {
	display: grid;
	grid-template-areas:
		"contact contact"
		"aside sections";
	grid-template-columns: 200px 1fr;
	@media screen and (width <= 600px) {
		grid-template-areas:
			"sections"
			"aside";
		grid-template-columns: 1fr;
	}
}

.sections {
	grid-area: sections;
}

main {
	section {
		z-index: 2;
    background: var(--bg2);

		&.contact {
			padding-block-end: .5rem;
			grid-area: contact;

			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				padding-inline: 0;

				li {
					list-style-type: none;
					text-box-trim: trim-both;
					text-box-edge: cap alphabetic;
					display: flex;
					gap: .25rem;

					&.location {
						gap: 0;
					}
				}
			}
		}

		&.education,
		&.experience {
			.wrapper {
				display: flex;
			}

			.entry {
				display: grid;
				grid-template-columns: 80px 1fr;
				column-gap: 1rem;

				img {
					grid-column: 1;
					width: 80px;
					aspect-ratio: 1 / 1;
					grid-row: 1 / 4;
				}

				h3,
				p {
					&:nth-child(n+2) {
						grid-column: 2;
					}

					&:nth-child(2) {
						text-box-trim: trim-end;
					}
				}
			}
		}

		&.education {
			.wrapper {
				flex-wrap: wrap;
				gap: var(--entry-gap) 1rem;
			}

			.entry {
				flex: 1 300px;
				grid-template-rows: repeat(3, auto);
				grid-template-areas:
					"img title1"
					"img title2"
					"img title3"
			}
		}

		&.experience {
			.wrapper {
				flex-wrap: wrap;
				gap: calc(var(--entry-gap)/2) 1rem;
			}

			.keytech {
				grid-area: tech;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-around;
				text-wrap: balance;
				font-style: italic;
				margin-block: .5rem .25rem;
				padding-block: 0;
				line-height: 1.5;
				border-block: 1px solid var(--accent-bg);
				&.empty {
					border-block-end: none;
				}
			}

			.desc {
				grid-area: desc;
				list-style-type: '– ';
				padding-inline-start: .75rem;
				li:not(:last-of-type) {
					margin-block-end: .33rem;
				}
			}

			hr {
				width: 65%;
				margin-inline: auto;
				color: var(--accent-border);
			}

			.entry {
				// margin-block-start: calc(var(--entry-gap) - .5rem);
				flex: 100%;
				grid-template-rows: repeat(3, auto) 1fr auto;
				grid-template-areas:
					"img title1"
					"img title2"
					"img title3"
					"tech tech"
					"desc desc";

				&:not(:first-child, .no-line) {
					// padding-block-start: var(--entry-gap);
					// border-block-start: 1px solid var(--accent-bg);
				}
				
			}
		}
	}
}

aside.skills {
	grid-area: aside;
	background: var(--bg2);
	text-align: left;
	padding-inline: 1rem;
	padding-top: 7.75rem;
	margin-top: -6rem;
	z-index: 1;
	border-inline: 1px solid var(--accent);
	// @media (prefers-color-scheme: dark) {
	// 	background: #0008;
	// }
	@media screen and (width <= 1126px) {
		
	border-inline-start: none;
	}
	@media print {
		background: var(--bg2);
		padding-top: 0;
		margin-top: 0;
		height: unset;
		top: 1rem;
		position: relative;
		padding-top: .75rem;
		padding-top: 14rem;
		margin-top: -13.5rem;
		height: calc(100% + 15rem);
	}

	@media screen and (width <= 600px) {
		margin-block-start: 1rem;
		border: 1px solid var(--accent);
		margin-inline: 1rem;
		border-radius: 0.5rem 1.5rem .5rem .75rem;
		corner-shape: bevel;
		padding: .5rem 1rem .75rem;
	}

	h3, ul {
		color: var(--text-h);
	}

	section {
		padding-inline: 0;
		margin: 0;
		border: none;
		border-radius: 0;
		ul {
		margin-block-start: 0.25rem;
			border-block-start: 1px solid var(--accent-bg);
			li {
				margin-block: .25rem;
			}
		}
	}
}